$border-radius: 5px;


state-share-image {
    position: relative;
    user-select: none;
}


.state-share-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: $border-radius;
    cursor: pointer;
}


.state-share-image-commands {
    display: none;
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    border-radius: $border-radius;
    background: rgb(88,27,56);
    background: linear-gradient(90deg, rgba(88,27,56,1) 0%, rgba(75,34,81,1) 10%, rgba(49,47,134,1) 50%, rgba(79,31,72,1) 90%, rgba(90,25,49,1) 100%);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.state-share-image-commands ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 210px;
}

.state-share-image-commands ul li {
    padding: 10px;
    cursor: pointer;
    display: grid;
    align-items: center;
    grid-template-columns: 25px 1fr;
}

.state-share-image-commands ul li:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.state-share-image-commands ul li:first-child {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

.state-share-image-commands ul li:last-child {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.state-share-image-commands-icon {
    height: 15px;
    padding: 5px;
}

.state-share-image-commands-input {
    display: grid;
    grid-template-columns: 100px 70px;
}

.state-share-image-commands-input input {
    border: none;
    background-color: rgba(0,0,0,0.25);
    color: white;
    cursor: default;
}

.state-share-image-commands-input button {
    margin-left: 10px;
    background: rgba(49,47,134,1);
    padding: 5px;
    border-radius: $border-radius;
    color: white;
    border: none;
    border-radius: none;
    width: 100%;
    cursor: pointer;
}
